h1 {
  font-size: 50px;
  text-align: center; font-family:'Playfair Display', serif; 
  font-weight: bold;
}

.left-image-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 30px;
  margin-bottom: 50px
}


.text-block h1 {
  font-size: 50px;
  text-align: center; 
  font-family: 'Playfair Display', serif; 
  padding: 20px;
}

.image-block img {
  margin:50px;
  max-width: 35vw;
  max-height: 55vh;
  object-fit: cover;
  object-position: center;
  height: auto;
  display: block;
}

.text-block p {
  width: 40vw;
  margin: 6vw;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.8;
  font-size: 20px;
  text-align: left;
}

.lim-length {
  width: 70%;
  margin: auto;
}

table tr {
  text-align: left;
}
