h1 {
    font-size: 50px;
    text-align: center; font-family:'Playfair Display', serif; 
}

.left-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px;
    margin-bottom: 50px
}


.text-block {
  flex: 1; 
}

.text-block h1 {
  font-size: 50px;
  text-align: center; 
  font-family: 'Playfair Display', serif; 
  padding: 20px;
}

.image-block img {
  max-width: 45vw;
  height: auto;
  display: block;
}

.text-block p {
    width: 40vw;
    margin: 6vw;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.8;
    font-size: 20px;
}

.lim-length {
  width: 70%;
  margin: auto;
}


table tr:hover {
  background-color: rgba(220,220,220,0.5);
}
