

.image-container {
    position: relative;        /* establish positioning context */
    display: inline-block;     /* shrink‑wrap to image size */
}


.main-image {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-fit: cover;
    object-position: center 75%;
}


.section-title {
    font-size: 30px;
    font-weight:600;
    text-align: center;
    margin: 10px
}

.section-container p {
    font-size: 15px;
    line-height: 1.5;
}

.section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.image-text-unit img{
    width: 40vh;
    height: 70vh;
    object-fit: cover;
    border-radius: 10px;
    margin: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-text-unit p {
    font-weight: normal;
    max-width: 40vh;
    margin: 60px;
    margin-top: 0px;
    padding-top: 0px;
}
