.form-container {
    width: 70vw;
    margin: 0 auto;
    margin-top: 30px;
}

.main-image {
    margin:auto;
    margin-top: 20px;
    display: block;
    width: 80vw;
    height: 60vh;
    object-fit: cover;
}

.centered-text {
    margin:auto;
    text-align: center;
    font-size: 50px;
}